body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,dl,dt,dd{padding: 0;margin: 0;}
body{_background-image:url(img/blank.gif);_background-attachment: fixed; color: #333; background: #f1f1f1; font-family: Microsoft YaHei; font-size: 12px;}
table {border-collapse:collapse;border-spacing: 0;}
html{ overflow: hidden;}
address,caption,cite,code,dfn,em,th,var {font-weight: normal;font-style: normal;}
ol,ul ,dl{list-style: none;}
caption,th {text-align: left;}
h1,h2,h3,h4,h5,h6 {font-weight: bold;font-size: 100%;}
img {border:none;vertical-align:top; }
input,button{vertical-align:middle;}
button{cursor:pointer;}
abbr,acronym { border: 0px;}
.clearfix:after {content:".";clear:both;display:block;height:0;visibility:hidden;}
.clearfix{display:inline-block; }
.clearfix {display:block;}
@font-face {font-family: 'iconfont';
	src: url('iconfont.eot'); /* IE9*/
	src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('iconfont.woff') format('woff'), /* chrome、firefox */
	url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{ font-family:"iconfont" !important;  font-style:normal;  -webkit-font-smoothing: antialiased;  -webkit-text-stroke-width: 0.1px;  -moz-osx-font-smoothing: grayscale;}
.clear{ clear:both;}
/*--------------------*/
a,a:link{color:#3e567b; text-decoration:none;}
a{blr:expression(this.onFocus=this.blur());outline:none;}
a.dragA {blr:expression(this.onFocus=0);}
a:visited{}
a:hover{color:#0889d3;}
a:active{}

.fl{float:left; }
.fr{float:right; }
.mg_b20{ margin-bottom: 20px;}
/*----login.html-----*/

.login{ width: 344px; height: 391px; margin: 250px auto 0; background: #fff;}
.login .title{ height: 92px; background: url("../images/L_logo.png") center center no-repeat; padding: 15px 0; }
.login_text{ width: 285px; padding: 10px 30px 0;}
.p_input{ height: 45px; padding: 13px 0;}
.login_text p.bnt a{  background: #efa52c; color: #fff; width:285px; height: 49px; line-height: 49px; text-align: center; border-radius: 5px; display: block;}
.login_text p.bnt a:hover{ background: #fbb94d;  color: #fff;}
.textBt{ height: 20px; line-height: 20px; margin-bottom:10px;}
.textBts{ height: 20px; line-height: 20px; margin-bottom:30px; padding-left: 20px; }
.textBts a{color: #a37d57;}
.login_text .bnt{ padding-top: 15px;}
/*input_css*/
.i_text{ width: 285px; height: 43px; background: #fff; background: #fff; border:none;font-size: 16px; color: #292725; padding:0 16px 0 16px; }
.i1{ width:223px;}
.p_input input.name,.p_input input.psw{ border: 1px solid #ccc; border-radius: 5px; padding-right:44px; }
.p_input input.name{ background:#fff url("../images/i_name.png") 249px center no-repeat;}
.p_input input.psw{ background:#fff url("../images/i_psw.png") 249px center no-repeat;}

.msgCheck{height:20px; line-height:20px; display: inline-block; color: #999999;}
.msgCheck input{ display:none;}
.msgCheck label{ width:20px;height:20px; cursor:pointer;text-indent:-999em;background:url(../images/checkBox.gif) left 2px  no-repeat; float:left;}
.msgCheck label.checked{background:url(../images/checkBox.gif) no-repeat 1px -19px;}
/*------header.html-----*/
.header{ width: 100%; height: 52px; background: #000000;}
.header dl{ height: 52px;}
.header dt{ height: 52px; overflow: hidden;  float: left;}
.header dt span{ height: 52px; float: left;}
.header dd{ height: 52px; padding-right: 30px; float: right;}
.header dd span{ font-size: 18px; line-height: 52px; color: #fff;}
.header dd span var{ margin-right: 25px;}
.header dd span var,.header dd span a{ color: #fff; font-size: 14px; line-height: 52px; padding: 0px 5px;}
.conter{ margin-left: 217px; _zoom: 1; position: relative;}
.allCons{ width: 95%; margin: 0 auto; background: #fff;}
.allCond{  width: 95%; border: 1px solid #ccc; margin: 0 auto ; background: #fff; }
.top_pms{ height: 30px;}
.top_pm{ height:40px; line-height: 40px; padding-bottom:5px;width: 95%; margin: 0 auto;}
.top_pm span{ margin-right: 25px; float: left;}
.top_pm span var{ color: #00a896;}
/*------left.html-----*/
.contLift{ width: 216px; height: 100%; background:#ffffff; left: -217px; border-right: 1px solid #d9d9d9; top: 0px; position: absolute;}
.contLift h3{ height: 47px; line-height: 47px;   border-bottom: 1px solid #e8e8e8;  font-size: 14px; cursor: pointer; }
.contLift h3 a{  height: 47px;  background: #fff no-repeat;  background-position:179px 26px; line-height: 47px;color:#737372 ; display: block;}
.contLift h3 a var,.contLift h3 a span,.contLift h3 a i{ float: left;}
.contLift h3 a var{ width: 46px; height: 47px; text-align: center; font-size: 20px; display: inline-block; border-right: 1px solid #dedede;}
.contLift h3 a span{ width: 116px;height: 47px; padding-left: 20px;}
.contLift h3 a i{ width: 17px;height: 47px; text-align: center; font-weight: 100;}
.contLift h3 a:hover,.contLift h3 a.cur{ background: #eda43b ;  background-position:179px 26px; color: #fff;}
.login_text{ height:0 }
.contLift .list{ display: none;}
.contLift .list p{ height:44px; line-height: 44px;border-bottom: 1px solid #e8e8e8; }
.contLift .list p a{ height: 44px; display: block; background: #f7f7f7;color: #333; }
.contLift .list p a.cur,.contLift .list p a:hover{ background: #eaeaea;color: #333;}
.contLift .list p var{width: 46px; height: 44px; text-align: center; color: #969696; font-size: 20px; display: inline-block; border-right: 1px solid #dedede; float: left;}
.contLift .list p span{ float: left; height: 44px; padding-left: 20px;}
.topLet{ height: 32px; line-height: 32px; text-align: center; padding: 10px 0; border-bottom: 1px solid #e8e8e8; color: #eda43b; font-size: 15px;}
/*---index.html----*/
.contRight{ min-height: 580px; background: #f7f7f7; overflow-y:auto; }
.i_title{ height: 32px; line-height: 32px;padding: 10px 10px; font-size: 14px; color: #203140; background: #fff; border-bottom: 1px solid #e8e8e8;}
.i_title .refresh{ width: 30px; height: 30px; text-align: center; border: 1px solid #dbdbdb; font-size: 21px; background: #fafafa; color: #666; float: left; margin-right: 8px;}
.i_title .addBnt{ padding: 0 10px; height: 30px; text-align: center; border: 1px solid #dbdbdb; font-size: 14px; background: #fafafa; color: #666; float: left; margin-right: 10px;}
.i_title .addBnt var{ font-size: 18px;}
.i_title .laby{ padding: 0 10px; float: left;}
.i_title input.time{ height: 30px; padding: 0 7px; line-height: 30px; border: 1px solid #ccc;  background: url("../images/icon_date.png") right center no-repeat; float: left;}
.i_title input.i1{ width: 136px;}
.i_title span.dqwz{ height: 32px; line-height: 32px; margin-right: 20px; font-size: 17px; padding-left: 10px; color: #666; float: left;}

.i_titles{ height: 35px; line-height: 35px;font-size: 14px; color: #203140;}
.all_title{width: 98%; float:right; height: 35px; font-size: 14px; line-height: 35px; border-bottom: 1px solid #cccccc; padding: 20px 0 0 0; }
.all_titles{width: 98%; float:right; height: 35px; font-size: 14px; line-height: 35px; border-bottom: 1px solid #b28961; padding: 20px 0 0 0; color: #b28961; }
.i_cont1{ width: 95%; padding: 10px 0;  margin-left: 2%; border: 1px solid #f7e7d8; margin-bottom: 55px;}
.i_cont1 p{ line-height: 40px; padding: 0 20px; color: #000000; font-size: 12px; }
.i_cont1 p a{ color: #000000; }
.i_cont1 p var{ color: #9e161f;}
.i_cont1 .msgCheck{ margin-top: 10px; float: left;}
.seletBnt{ padding: 0 10px; font-size: 14px; color: #000; border: 1px solid #ccc; height:27px; line-height:27px; text-align: center; float: right;}
.seletBnt:hover{ color: #fff; background: #000;  border: 1px solid #000; }
.addBntzt{ padding: 0 10px; font-size: 14px; color: #000; border: 1px solid #ccc; height:27px; line-height:27px; text-align: center; float: right;}
.addBntzt:hover{ color: #fff; background: #000;  border: 1px solid #000; }
.i_titles a.on{color: #fff; background: #000;  border: 1px solid #000;}
.textCon{ float: left;}

.seach_tl,.seach_tls{ height: 32px; margin-right:10px;float: left; }
.seach_tl span{ width: 80px; height: 30px; border: 1px solid #cccccc;}
.seach_tl .drapDown{width: 80px;height: 30px;line-height: 30px;padding: 0 5px;  background: #fafafa; border: 1px solid #cccccc;text-align: center;position: relative;float: left;margin-right:0px;}
.seach_tl .drapDown a.dragA{background: url("../images/xlt.png") right center no-repeat;}
.seach_tl .dragDiv{width: 90px;padding: 0 0px;left: -1px;border: 1px solid #ccc;background: #fff; display: none;}
.seach_tl .dragDiv a{ border: 0px; color: #333; background: #fefefe;}
.seach_tl .dragDiv a:hover{ background: #fafadc;}
.seach_tl input.i1{ width: 323px; height: 30px; line-height: 30px; border: 1px solid #ccc; border-left: none; padding: 0 7px;float: left;}
.seach_tl input.bntSel,.seach_tls input.bntSel{ width:36px; height: 32px;  border: 1px solid #ccc;  background: #fafafa;  border-left: none;  font-size: 15px; color: #666; }

/*---������Ŀ---*/
.pjTab{ height:36px; background: url("../images/fqxm.png") repeat-x;}
.pjTab span{ width: 84px; height: 36px; line-height: 36px; text-align: center; font-size: 14px; color: #34373a; cursor: pointer; float: left;}
.pjTab span.cur{ background: #fff;}
.form_con{ padding:30px; display: none;}
.form_Itext{min-height: 35px; line-height: 35px; margin-bottom: 20px; position: relative;}
.form_jwd{ margin-bottom: 30px;}
.form_Itext label,.form_textarea label{ width: 146px;height: 35px; line-height: 35px; text-align: right; margin-right: 25px; font-size: 14px; float: left;}
.form_Itext input.i1,.form_Itext select{ width: 350px; height: 33px; line-height: 33px ;border: 1px solid #cecece; border-radius: 5px; padding: 0 10px;  float: left; }
.form_Itext select{ width: 117px; margin-right: 10px;}
.form_Itext input.i2{ width:735px; height: 33px; line-height: 33px ;border: 1px solid #cecece; border-radius: 5px; padding: 0 10px;  float: left;}
.form_Itext input.i3{ width:435px; height: 19px; line-height: 19px ;border: 1px solid #cecece; border-radius: 5px; padding: 7px 10px;  margin-right: 10px; float: left;}
.form_Itext span.text{ height: 35px; line-height: 35px; float: left;}
.form_textarea{ min-height:105px; margin-bottom: 20px; }
.form_textarea textarea{ width: 735px; height: 93px;;border: 1px solid #cecece; border-radius: 5px; padding: 5px 10px;   float: left; }
.form_check{ height: auto;}
.form-control{ height: 30px; line-height: 30px; border: 1px solid #ccc; width: 150px; margin-right: 10px; float: left;}
.form_Itext a.jwd{ position: absolute; left: 171px; top:35px; color: #007CD9;}
.form_Itext label.check{ width: auto; float: left;}
.bnt_Con{ padding-left: 171px; padding-top: 30px; height:33px; }
.bnt_Con .btn{ width: 165px; height: 33px; line-height: 33px; text-align: center; background: #eda43b; color: #fff; border: 0; border-radius: 4px; float: left; margin-right: 15px;}
.bnt_Con a{ border: 1px solid #00a896; color: #00a896; padding: 0 15px; height: 33px; line-height: 33px;border-radius: 4px; float: left; margin-right: 15px;}
.bnt_Con a.deliform{ border-color: #d11a14; color: #d11a14; }
.hbcon{ padding-bottom: 30px;}
.form_check p{ width: 750px; float: left;}
.form_check p label{ margin-bottom: 5px;}


	/*---table---*/
.Tb_con{ width: 100%;  color:#333333; }
.Tb_con tr td,.Tb_con tr th{ border:1px solid #e3e3e3;line-height:20px; padding: 10px 0; text-align:center;}
.Tb_con tr th.name{ text-align: left; padding-left: 10px; }
.Tb_con tr td.name{ padding-left: 10px; text-align: left;}
.Tb_con tr td.name a{ color: #137dd6;}
.Tb_con tr th{ background-color:#F5F5F5; color:#333; font-weight:bold;}
.Tb_con tr.cOn td{ background:#ddf3fc;}
.Tb_con tr.on td{ background:#ddf3fc;}
.Tb_con tr td.ts{ width:130px; text-align:left; vertical-align:middle; padding-left:20px;}
.Tb_con tr td.tL{ text-align:left;padding-left:10px; cursor:pointer;}
.Tb_con tr td.txL{ text-align:left;padding-left:10px;}
.Tb_con tr td.czs a{ display: inline-block; margin: 0 10px; color: #137dd6;}
.Tb_con tr td.czs a.del{ color: red;}

.dialog_cons{ padding: 20px 80px 20px 50px;}
.text_input{ height: 32px; line-height: 32px; margin-bottom:20px;}
.text_input label,.text_textarea label,.text_textareas label{ width: 80px; font-size: 14px; text-align: right; margin-right: 18px; height: 32px; line-height: 32px; float: left;}
.text_input input.t_input{ height: 20px; width:250px; padding: 5px; border: 1px solid #ccc; border-radius: 3px; }
.text_input input.i2{ width: 390px;}
.text_input label.rio{ width: auto; float: left; margin-right: 25px; font-size: 12px;}
.text_textarea{height:60px; }
.text_textarea textarea{ width: 380px; padding: 5px 10px; height:50px; border: 1px solid #ccc; float: left; }
.text_textareas{height:150px; }
.text_textareas textarea{ width: 380px; padding: 5px 10px; height:140px; border: 1px solid #ccc; float: left; }
.text_inputs{ height: 32px; line-height: 32px; padding: 20px 0;}
.text_inputs label{ width: 80px; font-size: 14px; text-align: right; margin-right: 18px; height: 32px; line-height: 32px; float: left;}
.text_inputs input{ height: 30px; width:250px; padding: 0 5px; border: 1px solid #ccc; border-radius: 3px; }
.addInput{ margin: 0 40px; border-bottom: 1px solid #ccc; margin-bottom: 15px;}
.groupCon{ margin: 0 40px; position: relative; margin-bottom: 15px}
.groupList{ margin-left:125px; }
.groupList span.left{ position: absolute; left: 0; top: 0px; font-size: 14px; width: 110px; text-align: right; height: 32px; line-height: 32px;}
.groupList dl{ font-size: 14px;}
.groupList dt{ height: 32px; line-height: 32px; border-radius: 4px; background: #f1f1f1; padding: 0 15px; margin-bottom: 10px;}
.groupList dd h3{ height: 25px; line-height: 25px;  margin-bottom: 7px; padding-left: 42px; font-weight: 100; }
.groupList dd p{ line-height: 25px;  margin-bottom: 10px; padding-left: 94px; font-weight: 100; }
.groupList dd p label{ display: inline-block; margin-right: 20px;}
/*��ҳ*/
.pageCon{ padding: 0 20px; text-align: right;border: 1px solid #e3e3e3; border-top: 0;}
.pagination {display: inline-block;padding-left: 0;margin: 25px 0;border-radius: 4px;}
.pagination>li {display: inline;}
.pagination>li>a, .pagination>li>span {position: relative;float: left;padding: 6px 12px;margin-left: -1px;line-height: 1.42857143;color: #428bca;text-decoration: none;background-color: #fff;border: 1px solid #ddd;}
.pagination>li:first-child>a, .pagination>li:first-child>span {margin-left: 0;border-top-left-radius: 4px;border-bottom-left-radius: 4px;}
.pagination li.active span{ background: #eda43b; color: #fff; border-color: #eda43b;}
/*��ѡ��*/
p.payRadio{ overflow:hidden;}
p.payRadio span{width:60px;height:20px;line-height:20px;padding-left:25px;margin:3px 0 0 0;cursor:pointer;color:#666;background:url("../images/checkBox.png") no-repeat left 5px;float:left;}
p.payRadio span.hRadio_Checked{background:url("../images/checkBox.png") no-repeat 1px -23px;}
p.payRadio span em{color:#3499c8;}
/***** dialogs css start *****/
.drapDown{ width: 220px; height: 30px; line-height: 30px; padding: 0px 6px; border: 1px solid #cccccc; text-align: center; position: relative; float: left; margin-right: 10px;}
.drapDown a.dragA{ height: 30px; line-height: 30px; font-size: 12px; color: #999999;background: url("../images/xlt.png") right center no-repeat; display: block;}
.dragDiv{ position: absolute; top: 29px; width:232px; padding: 0; left: -1px; border: 1px solid #ccc;background: #fff; display: none;}
.dragDiv a{ height:30px; line-height: 30px; padding: 0px 5px; display: block;  font-size: 12px; color: #333; background: #fefefe; }
.dragDiv a:last-child{ border: 0px;}
.dragDiv a:hover{ background: #fafadc;}

.drapDowns{ width: 248px; height: 30px; line-height: 30px; padding: 0px 6px; border: 1px solid #cccccc; text-align: center; position: relative; float: left; margin-right: 10px;}
.drapDowns a.dragA{ height: 30px; line-height: 30px; font-size: 12px; color: #999999;background: url("../images/xlt.png") right center no-repeat; display: block;}
.drapDowns .dragDiv{ position: absolute; top: 29px; width:260px; padding: 0; left: -1px; border: 1px solid #ccc;background: #fff; display: none;}
.drapDowns .dragDiv a{ height:30px; line-height: 30px; padding: 0px 5px; display: block;  font-size: 12px; color: #333; background: #fefefe; }
.drapDowns .dragDiv a:last-child{ border: 0px;}
.drapDowns .dragDiv a:hover{ background: #fafadc;}
/* dialogs */
.popFo{ border-top: 1px solid #eaeaea; padding: 20px 20px;}
.popFo p.btn{ height: 32px; text-align: right;}
.popFo a,.popFo input{ display:inline-block; padding: 0 20px; height:32px; line-height: 32px; margin-right: 15px; border-radius: 3px; }
.popFo .lsbj{ border: 1px solid #eda43b; background: #eda43b; color: #fff;}
.popFo .wbj{ border: 1px solid #959595;color: #959595;}
.popDD{ border-radius: 5px;}
.share_maskyer{position:fixed;width:100%}
.share_maskyer{top:0;left:0;z-index:1986;background-color:#000;opacity:.5;-moz-opacity:.5;filter:alpha(opacity=50);height:100%;display:none}
.FWG_dialog{}
.dialog_main{ display:block;  border-radius: 8px;border: 1px solid #ccc; background:#ffffff; position:fixed; top: -100%; z-index:1988;
	_top:expression(eval(
    document.compatMode && document.compatMode=='CSS1Compat') ?
    documentElement.scrollTop + (document.documentElement.clientHeight- this.offsetHeight)/2 :
    document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2
  );
}
.dialog_mains{ display:block;  border-radius: 8px;position:fixed; top: -100%; z-index:1988;
	_top:expression(eval(
    document.compatMode && document.compatMode=='CSS1Compat') ?
    documentElement.scrollTop + (document.documentElement.clientHeight- this.offsetHeight)/2 :
    document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2
  );
}
.dialog_maind{ display:block; position:fixed;  background:#ffffff; top: -100%; z-index:1988; padding: 20px 56px 20px;
	_top:expression(eval(
    document.compatMode && document.compatMode=='CSS1Compat') ?
    documentElement.scrollTop + (document.documentElement.clientHeight- this.offsetHeight)/2 :
    document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2
  );
}
.dialog_maind .dialog_tit{ border-bottom: 0;}
.dialog_tit{height: 59px;line-height: 59px;color: #333;border-bottom: 1px solid #eaeaea; font-family: ΢���ź�;}
.dialog_tit h2{ height: 59px; line-height:59px; font-size: 22px; color: #333; padding-left:0; text-align: center;}
.dialog_tit h2.lk{ text-align: left; padding-left: 10px;}
.dialog_tit .close{position: absolute;right: 13px;top: 13px;width: 32px;height: 32px; line-height: 32px; color: #a8a8a8; display: inline-block; font-size: 26px; cursor:pointer;}
.dialog_con{ line-height:20px; color:#666666; _height:auto !important;overflow-y:auto;}
.dialog_con p{ text-indent:24px;}
.dialog_maskLayer{ display:block; width:100%; height:100%; top:0px; left:0px;  background-color: #000; /*FF IE7*/filter:alpha(opacity=50);/*IE*/opacity:0.5;/*FF*/z-index:1987;position:fixed!important;/*FF IE7*/position:absolute;/*IE6*/_top:expression(eval(document.compatMode &&document.compatMode=='CSS1Compat') ? documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 : document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2);}
.invest_cont p{ text-indent: 0px;}
.tip_div{ padding: 24px 54px;}
.tip_div .reg_box{ width: 312px; margin-top: 0;}
.tip_div .reg_tip{ line-height:30px; font-size:16px; color:#6e6e6e; }
.tip_div .reg_box_r{ margin-top: 20px;}

.dialog_maskLayer{  width:100%; height:100%; top:0px; left:0px;  background-color: #000; /*FF IE7*/filter:alpha(opacity=50);/*IE*/opacity:0.5;/*FF*/z-index:1987;position:fixed!important;/*FF IE7*/position:absolute;/*IE6*/_top:expression(eval(document.compatMode &&document.compatMode=='CSS1Compat') ? documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 : document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2);}