html{overflow-x:auto;}
body, input, textarea, select, button{background-color:#fff; color:#333; font: 12px Arial,"Microsoft Yahei"; }
body, ul, dl, dd, p, h1, h2, h3, h4, h5, h6, form, div, fieldset, form, textarea, input { margin:0; padding:0; }
h1,h2,h3,h4,h5,h6,i,em,b{font-style: normal;font-weight:normal;font-size:100%;}
img {border:none;}
input, textarea {outline:none; }
button::-moz-focus-inner{ border:0; padding:0; margin:0; }
.clear{zoom:1;}
.clear:after{content:".";display:block;visibility:hidden;height:0;clear:both;}
texearea {resize:none; }
em, cite, th { font-style:normal; font-weight:normal; }
table { border-collapse:collapse; }
dl,ol,dt,dd,ul,li {list-style:none; margin:0; padding:0; }
a { color:#333; text-decoration:none; }
a:hover { color:#f00; text-decoration:underline; }
a.red { color:#F00; text-decoration:none; }
a:hover.red { color:#F00; text-decoration:underline; }


.aw_body {width:1100px;margin:0 auto;overflow:hidden;clear:both; }
.aw_header {display:block;clear:both;width:100%;}

.aw_menus {display:block;clear:both;width:100%;height:40px;line-height:40px;background-color:#0081ec;}
.aw_menus p {display:block;width:1080px;margin:0 auto;font-size:16px;height:40px;line-height:40px;padding-left:20px;}
.aw_menus p a {float:left;color:#fff;width:93px;text-align:center; }
.aw_menus p a.i {width:126px;text-align:center;background-color:#0173d2; font-size:20px;font-weight:bold;margin-right:1px;}
.aw_menus p a.b {width:60px;padding-left:10px; text-align:center;font-weight:bold;}
.aw_menus p a:hover {text-decoration:none;background-color:#0173d2;}
.aw_menus p a.on {background-color:#0c7bd7;}

.aw_menu_item {background-color:#fa5f4d;}
.aw_menu_item p a.i {background-color:#ed4c3a;}
.aw_menu_item p a:hover {background-color:#f84a35;}
.aw_menu_item p a.on {background-color:#f15746;}


.tit02 {display:block;clear:both;height:24px;line-height:24px;padding:15px 0 20px;}
.tit02 h1,.tit02 h2,.tit02 h3 {float:left;padding-left:15px;border-left:5px solid #0081ec;font-size:24px; }
.tit02 h1 i,.tit02 h2 i,.tit02 h3 i {color:#09f; }
.tit02 span {float:right;padding-right:20px;font-size:18px;}
.tit02 span a {color:#999;padding:0 2px;}
.tit02 span a:hover {color:#0081ec;}
.tit02 span.weizhir {font-size:14px;color:#999;}
.aw_content .tit02 h1 {border-left:5px solid #fa6453;}


/*===================  news_content  ================*/
.aw_content {float:left;width:1100px;padding-top:10px;}
.aw_content .left {float:left;width:740px;}
.aw_content .right {float:right;width:300px;padding-top:15px; margin-right:20px;}
.aw_content .reads {display:block;clear:both;padding-left:20px;}
.aw_content .reads h1 {display:block;clear:both;height:60px;line-height:50px;font-size:28px;}
.aw_content .reads .info {display:block;clear:both;height:24px;line-height:24px; color:#999;}
.aw_content .reads .info a {color:#999;}
.aw_content .reads .digest {display:block;clear:both;padding:10px 0;line-height:24px;font-size:12px;}
.aw_content .reads .contbox {display:block;clear:both;font-size:16px;line-height:30px;padding-top:10px;}
.aw_content .reads img {display:block;margin:10px auto;}
.aw_content .reads a {text-decoration:underline;}
.aw_content .weizhi {padding-left:20px;}


.newslist {float:left;padding-left:20px;}
.newslist dl {float:left;width:720px;border-bottom:1px dashed #e3e3e3;margin-top:12px;padding-bottom:12px;}
.newslist dt {float:left;width:135px;height:90px;overflow:hidden;margin-right:15px;}
.newslist dt img {display:block;width:135px;}
.newslist dd.t1 {float:left;width:570px;height:30px;line-height:30px;font-size:20px;}
.newslist dd.t1 span {float:right; font-size:12px;color:#999;}
.newslist dd.t2 {float:left;width:570px;height:48px;line-height:24px;font-size:14px;overflow:hidden;padding-top:10px;color:#999;}

.ratit {display:block;clear:both;height:33px;line-height:20px;font-size:20px;padding-top:15px; }
.ratit h2 {float:left;height:21px;padding-left:15px;border-left:5px solid #fa5f4d;}
.ratit h2 a {float:left;color:#999;cursor:pointer;}
.ratit h2 a.on {color:#111;}
.ratit h2 b {float:left;padding:0 15px;color:#ddd;font-size:18px;}

.ralatepic {display:block; overflow:hidden;}
.ralatepic .changemenu {float:left;width:720px;border-top:2px solid #333;overflow:hidden;}
.ralatepic .changemenu span {display:block;clear:both;width:760px;height:40px;line-height:40px;}
.ralatepic .changemenu span a {float:left;margin-right:30px;font-size:20px;color:#333;}
.ralatepic .changemenu span a.on {color:#c00;}



ul.pics145 {display:block;clear:both;} 
ul.pics145 li {float:left;width:145px;height:210px;margin-right:10px;position:relative;}
ul.pics145 li i {display:block;clear:both;width:145px;height:200px;overflow:hidden;} 
ul.pics145 li i img {display:block;width:145px;}
ul.pics145 li h5 {position:absolute;bottom:10px;left:0;width:138px;padding:5px 0 6px 7px;height:28px;line-height:14px;overflow:hidden;font-size:14px;color:#fff;
	background:url(../img/imgtitbg.png) repeat-x left top;
	_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader ( enabled=bEnabled,sizingMethod=crop, src="http://2016.mingxing.com/templates/mingxing2016/img/imgtitbg.png");}
ul.pics145 li a:hover h5 {color:#f00;}
ul.pics145 li a:hover {text-decoration:none;}
